#header-nav{
    background-color: blueviolet;
    color: red;
}
.navbar-brand #mybrand{
    color: red;
    font-weight: bold;
    border: 4px solid;
}

.row{
    margin-left: 15px;
    margin-right: 15px;
    height: 1000px;
    background-color: blue;
}

.nav > li {
    text-align: center;
    background-color: yellow;
}