/* my styles as solutions for m2*/

/*desktop */

p {
    align:center;
    background-color:red;
}

div {
    display:inline;
}

@media (min-width:992px){
    .c1l, c2l, c3l {
        width:33.3%;
    }
}

/* tablets */

@media (min-width:768px) and (max-width:991px){
    .c1l, c2l, c3l {
        width:33.3%;
    }
}

/*mobile section*/

@media (max-width:767px){
    style here
}
